<div class="card card-register main-form">
    <div class="card-block">
        <div class="form-group">
            <h5>队长姓名</h5>
            <input type="text" class="form-control" value="{{user_name}}" disabled="disabled">
        </div>
        <div class="form-group">
            <h5>队长学号</h5>
            <input type="text" class="form-control" value="{{user_id}}" disabled="disabled">
        </div>
        <div class="form-group">
            <h5>班级 (F1XXXXXX)</h5>
            <input type="text" class="form-control input-class-id"
                   {{#with class_id}}value="{{this}}"{{/with}}
                   placeholder="请如实填写" {{#unless leader}}disabled="disabled"{{/unless}}>
        </div>
        <div class="form-group">
            <strong>队员信息</strong>
            {{#if leader}}
                <span class="float-right">(添加队员后请记得提交)<a href="javascript:void(0);"
                                                         class="btn btn-sm btn-primary m-b-sm m-l-sm btn-add">添加队员</a></span>
            {{/if}}
            <table class="table">
                <thead>
                <tr>
                    <th width="40%">学号</th>
                    <th width="30%">姓名</th>
                    <th width="15%" class="text-center">已认证</th>
                    {{#if leader}}
                        <th width="15%" class="text-center">操作</th>
                    {{/if}}
                </tr>
                </thead>
                <tbody>
                {{#each member}}
                    <tr data-id="{{USER_ID}}">
                        <td>{{USER_ID}}</td>
                        {{#with user_name}}
                            <td>{{this}}</td>
                        {{else}}
                            <td>
                                <small>暂无</small>
                            </td>
                        {{/with}}
                        <td align="center">{{#if verified}}<i class="fa fa-check"></i>{{/if}}</td>
                        {{#if ../leader}}
                            <td align="center"><a class="btn-delete" href="javascript:void(0);"><i
                                    class="fa fa-trash"></i></a></td>
                        {{/if}}
                    </tr>
                {{/each}}
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <small>(由于学院数据库不全，队员未认证前姓名暂无为正常情况，认证后即可正常显示)</small>
        </div>

        {{#if valid}}
            {{#if group_id}}
                <div class="row">
                    <div class="col-lg-6 form-group text-center">
                        <div align="center" class="qrcode-jaccount m-b-sm"></div>
                        <strong>提交后，请队长让所有组员扫描此二维码并使用JAccount登录认证</strong>
                    </div>
                    <div class="col-lg-6 form-group text-center">
                        <div align="center" class="qrcode-qq m-b-sm"></div>
                        <strong>欢迎加入官方qq群</strong>
                    </div>
                </div>
            {{/if}}
            <div class="form-group text-center">
                {{#if leader}}
                    <a href="javascript:void(0);" class="btn btn-primary btn-submit m-r-sm">提交</a>
                {{/if}}
                {{#if registered}}
                    <a href="javascript:void(0);" class="btn btn-danger btn-cancel m-l-sm">
                        {{#if leader}}取消报名{{else}}退出队伍{{/if}}
                    </a>
                {{/if}}
            </div>
        {{else}}
            <div class="form-group">
                <div class="form-control text-center">
                    报名已结束
                </div>
            </div>
        {{/if}}
    </div>
</div>