<div class="form-horizontal">
    {{#each data}}
        <div class="form-group">
            <label><strong>{{title}}:</strong></label>
            {{#if text}}
                <input type="text" class="form-control"
                       {{#with name}}data-name="{{this}}"{{/with}}
                       placeholder="{{#with placeholder}}{{this}}{{/with}}"
                       value="{{#with value}}{{this}}{{/with}}">
            {{else if textarea}}
                <textarea type="text" class="form-control"
                          {{#with name}}data-name="{{this}}"{{/with}}
                          placeholder="{{#with placeholder}}{{this}}{{/with}}"
                          rows="8" style="resize: none">{{#with value}}{{this}}{{/with}}</textarea>
            {{else if markdown}}
                <div class="editormd" id="test-editormd"
                     {{#with name}}data-name="{{this}}"{{/with}}>
                </div>
            {{else if datetime}}
                <input type="text" class="flatpickr form-control"
                       {{#with name}}data-name="{{this}}"{{/with}}
                       placeholder="{{#with placeholder}}{{this}}{{/with}}"
                       value="{{#with value}}{{this}}{{/with}}">
            {{else if spin}}
                <input type="text" class="touchspin"
                       {{#with name}}data-name="{{this}}"{{/with}}
                       placeholder="{{#with placeholder}}{{this}}{{/with}}"
                       value="{{#with value}}{{this}}{{/with}}">
            {{else if file}}
                <form class="file-upload" {{#with name}}data-name="{{this}}"{{/with}}>
                    <div class="row fileupload-buttonbar">
                        <div class="col-lg-7">
                            <!-- The fileinput-button span is used to style the file input field as button -->
                            <span class="btn btn-success fileinput-button">
                                <i class="glyphicon glyphicon-plus"></i>
                                <span>Add files...</span>
                                <input type="file" name="files[]" multiple>
                            </span>
                            <button type="submit" class="btn btn-primary start">
                                <i class="glyphicon glyphicon-upload"></i>
                                <span>Start upload</span>
                            </button>
                            <button type="reset" class="btn btn-warning cancel">
                                <i class="glyphicon glyphicon-ban-circle"></i>
                                <span>Cancel upload</span>
                            </button>
                            <button type="button" class="btn btn-danger delete">
                                <i class="glyphicon glyphicon-trash"></i>
                                <span>Delete</span>
                            </button>
                            <input type="checkbox" class="toggle">
                            <!-- The global file processing state -->
                            <span class="fileupload-process"></span>
                        </div>
                        <!-- The global progress state -->
                        <div class="col-lg-5 fileupload-progress fade">
                            <!-- The global progress bar -->
                            <div class="progress progress-striped active" role="progressbar" aria-valuemin="0"
                                 aria-valuemax="100">
                                <div class="progress-bar progress-bar-success" style="width:0%;"></div>
                            </div>
                            <!-- The extended global progress state -->
                            <div class="progress-extended">&nbsp;</div>
                        </div>
                    </div>
                    <!-- The table listing the files available for upload/download -->
                    <table role="presentation" class="table table-striped">
                        <tbody class="files"></tbody>
                    </table>
                </form>
            {{/if}}
        </div>
    {{/each}}
</div>