<script id="degree-template" type="text/x-handlebars-template">

    <table class="table">
        {{#each this}}
            <thead>
            <tr>
                <th colspan="4">
                    {{#if title}}
                        {{title}}
                        {{#if credit}}
                            ({{#if credit_now}}{{credit_now}}/{{/if}}{{credit}} credits)
                        {{/if}}
                    {{/if}}
                </th>
            </tr>
            <tr>
                <th>Course</th>
                <th>Name</th>
                <th>Credit</th>
                <th>Grade</th>
            </tr>
            </thead>

            <tbody>
            {{#each courses}}
                <tr>
                    <td>{{#with id}}{{this}}{{/with}}</td>
                    <td>{{#with name}}{{this}}{{/with}}</td>
                    <td>{{#with credit}}{{this}}{{/with}}</td>
                    <td>{{#with grade}}{{this}}{{/with}}</td>
                </tr>
            {{/each}}
            <tr>
                <td colspan="4"></td>
            </tr>
            </tbody>
        {{/each}}</table>

</script>