<script id="degree-template" type="text/x-handlebars-template">

    <table class="table">
        {{#each this}}
            <thead>
            <tr>
                <th colspan="3">
                    {{#if title}}
                        {{title}}
                        ({{credit_display}}/{{credit}} credits{{#if credit_shift}}, {{credit_shift}} shifted from
                        above{{/if}})
                    {{/if}}
                </th>
                <th align="right">GPA:{{gpa}}</th>
            </tr>
            <tr>
                <th>Course</th>
                <th>Name</th>
                <th>Credit</th>
                <th>Grade</th>
            </tr>
            </thead>

            <tbody>
            {{#each course_list}}
                <tr>
                    <td>{{#with id}}{{this}}{{/with}}</td>
                    <td>{{#with name}}{{this}}{{/with}}</td>
                    <td>{{#with credit}}{{this}}{{/with}}</td>
                    <td>{{#with grade}}{{this}}{{/with}}</td>
                </tr>
            {{/each}}
            <tr>
                <td colspan="4"></td>
            </tr>
            </tbody>
        {{/each}}</table>

</script>