<div class="row m-b-lg m-t-lg">
    <div class="col-md-6">

        <!--<div class="profile-image">-->
            <!--<img src="{{avatar}}" class="img-circle circle-border m-b-md" alt="profile">-->
        <!--</div>-->


        <div id="crop-avatar">

            <!-- Current avatar -->
            <div class="profile-image avatar-view" title="Change the avatar">
                <!--<img id="avatar-view-img" alt="Avatar">-->
                <img src="{{avatar}}" class="img-circle circle-border m-b-md" alt="profile">
            </div>

            <!-- Cropping modal -->
            <div class="modal fade" id="avatar-modal" aria-hidden="true" aria-labelledby="avatar-modal-label" role="dialog" tabindex="-1">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <form class="avatar-form" action="{{avatar_upload}}" enctype="multipart/form-data" method="post">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title" id="avatar-modal-label">Change Avatar</h4>
                            </div>
                            <div class="modal-body">
                                <div class="avatar-body">

                                    <!-- Upload image and data -->
                                    <div class="avatar-upload">
                                        <input type="hidden" class="avatar-src" name="avatar_src">
                                        <input type="hidden" class="avatar-data" name="avatar_data">
                                        <label for="avatarInput">Local upload</label>
                                        <input type="file" class="avatar-input" id="avatarInput" name="avatar_file">
                                    </div>

                                    <!-- Crop and preview -->
                                    <div class="row">
                                        <div class="col-md-9">
                                            <div class="avatar-wrapper"></div>
                                        </div>
                                        <div class="col-md-3">
                                            <div class="avatar-preview preview-lg"></div>
                                            <div class="avatar-preview preview-md"></div>
                                            <div class="avatar-preview preview-sm"></div>
                                        </div>
                                    </div>

                                    <div class="row avatar-btns">

                                        <div class="col-md-1"><button type="button" class="btn btn-primary" data-method="rotate" data-option="-90" title="Rotate -90 degrees">Rotate Left</button></div>
                                        <div class="col-md-1"><button type="button" class="btn btn-primary" data-method="rotate" data-option="-15">-15deg</button></div>
                                        <div class="col-md-1"><button type="button" class="btn btn-primary" data-method="rotate" data-option="-30">-30deg</button></div>
                                        <div class="col-md-1"><button type="button" class="btn btn-primary" data-method="rotate" data-option="-45">-45deg</button></div>

                                        <div class="col-md-1"><button type="button" class="btn btn-primary" data-method="rotate" data-option="90" title="Rotate 90 degrees">Rotate Right</button></div>
                                        <div class="col-md-1"><button type="button" class="btn btn-primary" data-method="rotate" data-option="15">15deg</button></div>
                                        <div class="col-md-1"><button type="button" class="btn btn-primary" data-method="rotate" data-option="30">30deg</button></div>
                                        <div class="col-md-1"><button type="button" class="btn btn-primary" data-method="rotate" data-option="45">45deg</button></div>

                                        <div class="col-md-3 col-md-offset-1">
                                            <button type="button" class="btn btn-primary btn-block avatar-save">Done</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            </div> -->
                        </form>
                    </div>
                </div>
            </div><!-- /.modal -->

            <!-- Loading state -->
            <div class="loading" aria-label="Loading" role="img" tabindex="-1"></div>
        </div>

        <div class="profile-info">
            <div class="">
                <div>
                    <h2 class="no-margins">
                        {{name}}
                    </h2>
                    <h4>{{user_type}}</h4>
                    <small>
                        A introduction of myself
                    </small>
                </div>
            </div>
        </div>
    </div>
    <!--<div class="col-md-3">-->
        <!--<table class="table small m-b-xs">-->
            <!--<tbody>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<strong>142</strong> Projects-->
                <!--</td>-->
                <!--<td>-->
                    <!--<strong>22</strong> Followers-->
                <!--</td>-->

            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<strong>61</strong> Comments-->
                <!--</td>-->
                <!--<td>-->
                    <!--<strong>54</strong> Articles-->
                <!--</td>-->
            <!--</tr>-->
            <!--<tr>-->
                <!--<td>-->
                    <!--<strong>154</strong> Tags-->
                <!--</td>-->
                <!--<td>-->
                    <!--<strong>32</strong> Friends-->
                <!--</td>-->
            <!--</tr>-->
            <!--</tbody>-->
        <!--</table>-->
    <!--</div>-->
    <!--<div class="col-md-3">-->
        <!--<small>Sales in last 24h</small>-->
        <!--<h2 class="no-margins">206 480</h2>-->
        <!--<div id="sparkline1"></div>-->
    <!--</div>-->

</div>

